@import "../../../variables.scss";

.content {
  width: 50%;
}

.wallpaper {
  width: 50%;
  display: block;
}

.content, .wallpaper {
  height: 100%;
  float: left;
}

.wallpaper {
  background: url(/assets/img/list_bg_2.jpg) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

@media (max-width: 767px) {
  .content {
    width: 100%;
  }

  .wallpaper {
    display: none;
  }
}

.wallpaper p {
  font-size: 20px;
}

.issue-menu {
  margin: 20px 0;
  text-align: center;
}

.issue-menu > ul > li {
  display: inline;
  margin: 0 10px;
}

.issue-menu li > a {
  color: $faded-color;
}

.issue-menu li > a:hover {
  color: $link-hover-color;
}

.issue-menu li.active > a {
  color: #303030;
}

.issue-menu a:hover {
  color: $link-hover-color;
}

.issue-list {
  padding: 0 20px;
  height: calc(100% - 150px);
  overflow: auto;
}

.issue-title {
  color: #303030;
}

.issue-title:hover {
  text-decoration: underline;
}

.issue-details {
  font-size: 12px;
  margin: 0;
}

.issue-body {
  margin-left: 30px;
}

.open {
  color: $primary-color;
}

.issue-status {
  font-size: 16px;
  float: left;
}

.slogan {
  font-size: 3vw;
}
