.page-header {
  background-color: #fff;
  border-bottom: 1px solid #e6e6e6;
  display: block;
  padding: 23px 50px;
  position: fixed;
  width: 100%;
  min-width: 360px;
  z-index: 2;
}

.user-menu {
  float: right;
  margin: 1.1rem 0;
}


.logo {
  margin-top: 0.7rem;
}
