@import "../../../variables.scss";

.issue-header {
  margin: 35px 0;
}

.comment-avatar {
  margin-left: -80px;
  float: left;
}

.comment-container {
  padding-left: 80px;
}

.comment-list {
  margin-top: 40px;
}

.status-badge {
  float: left;
  margin-top: -5px;
}

.issue-meta {
  margin-left: 80px;
}
