<app-header></app-header>
<div class="page-container">
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="column issue-header">
          <a routerLink="/issues" class="primary"><fa name="chevron-left"></fa> Back to Issues</a>
        </div>
      </div>
      <div class="row">
        <div class="column issue-content">
          <div class="box">
            <div class="box-body">
              <h3>Hello hello <span class="faded">#1234</span></h3>
              <div class="issue-details">
                <span class="badge primary status-badge"><fa name="exclamation-circle"></fa> Open</span>
                <div class="issue-meta faded">
                  <a class="primary">username</a> opened this issue hour ago &#183; 1 comment
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="column comment-list">
          <div class="comment-container">
            <div class="comment-avatar">
              <img src="https://avatars0.githubusercontent.com/u/45467737?s=88&v=4" class="image-circle avatar"/>
            </div>
            <div class="comment-body">
              <div class="box bubble">
                <div class="box-header faded">
                    <a href="#" class="primary">user name</a> commented 1 hour ago
                </div>
                <div class="box-body">
                    <p>Ha ha ha ha</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
