@import "../../../variables.scss";

.pagination {
  text-align: center;
  margin-top: 30px;
}

.pagination li {
  display: inline;
  line-height: 35px;
  margin: 0 5px;
}

.pagination li.page-no a {
  width: 35px;
  height: 35px;
  display: inline-block;
  border-radius: 50%;
  background: #fff;
  text-align: center;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(204,204,204,1);
  -moz-box-shadow: 0px 2px 2px 0px rgba(204,204,204,1);
  box-shadow: 0px 2px 2px 0px rgba(204,204,204,1);
}

.pagination li.page-no.active a {
  background: $primary-color;
  color: #fff;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.pagination .previous-page {
  margin-right: 15px;
  display: none;
}

.pagination .next-page {
  margin-left: 15px;
  display: none;
}

@media (min-width: 768px) {
  .pagination .next-page {
    display: inline;
  }

  .pagination .previous-page {
    display: inline;
  }
}
